<!DOCTYPE html>
<html lang="en">
  <head></head>
    <header>
      <a href="/register">
      <button type="button">Register</button>
    </a>
    <h1>TinyApp</h1>
    <h2>The best URL shortner on the web!</h2>
  </header>
  <body style="font-size:20px; padding:50px;">
    <% if(!userID) { %>
      <form action="/login" method="POST" style="margin:100px;">
      <label for="emai">Login to your account</label><br>
      <input type="text" name="email" placeholder="Enter Email" style="width: 300px"/>
      <input type="text" name="password" placeholder="Enter Password" style="width: 300px"/><br>
      <input type="submit" value="Login" />
      </form>
    <% } else { %>
      <form action="/logout" method="POST">
      <input type="text" name="username" placeholder = <%= userID.email%> />
      <input type="submit" value="Logout" />
      </form>
    <% }%>
  </body>
</html>
