<!DOCTYPE html>
<html lang="en">
  <head></head>
    <header> <%include ./partials/_header %> </header>
  <h1>David's Amazing URL Shortener!</h1>
  <h2>Welcome back...</h2>
  <body style="font-size:20px; padding:50px;">
    <% if(!userID) { %>
      <form action="/login" method="POST">
      <input type="text" name="email" placeholder="Enter Email" />
      <input type="text" name="password" placeholder="Enter Password" />
      <input type="submit" value="Login" />
      </form>
    <% } else { %>
      <form action="/logout" method="POST">
      <input type="text" name="username" placeholder = <%= userID.email%> />
      <input type="submit" value="Logout" />
      </form>
    <% }%>
  </body>
</html>
