<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
  <a href="/login">
    <button type="button">Login</button>
  </a>
  <h1>TinyApp</h1>
  <h2>Register to shorten URL's in seconds!</h2>
</header>
  <body style="font-size:20px; padding:50px;">
    <form action="/register" method="POST" style="margin:100px;">
      <label for="emai">Create your account now. </label><br>
      <input type="email" name="email" placeholder= "Enter your email" style="width: 300px"><br>
      <input type="password" name="password" placeholder= "Enter a password" style="width: 300px"><br>
      <input type="submit" value="Register">
    </form>
  </body>
</html>
