<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <header> <%include ./partials/_header %> </header>
  <!-- ** A list or table of the URLs
  and their shortened forms -->

  <h1>David's Amazing Link Shortner!<h2>
    <% for(var url in urls){%>
      <%= url%> - <%= urls[url]%> <br/>
      <%}%>
<!--
    <table>
      <tr>

        <th>Long Links</th>
        <th>Shortened Links</th>
      </tr>
      <tr>

        <% for(var url in urls){%>
          <td><%= url%> - <%= urls[url]%> </td>
          <%}%>


      </tr>
    </table>
    A link for shortening a new URL
    (this will be a dead link for now,
    that is it doesn't need to go anywhere
    since you'll be building its functionality later).
    -->
    <button type="button" onclick="do something">
       Click To Shorten Link</button>
  </body>
</html>
