<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
  <h1>Full URL to Short URL!<h2>
      <%= shorter%> ----- <%= original%>

      <form action="/urls/<%= shorter %>/update" method="POST">
      <input type="text" name="name" placeholder="<%= original %>" />
      <input type="submit" value="Update" />
      </form>

  </body>
</html>
