<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <header> <%include ./partials/_header %> </header>
  <body>
  <h1>Full URL to Short URL!<h2>
      <%= url.shorter%> ----- <%= url.original%>

      <form action="/urls/<%= url.shorter %>/update" method="POST">
      <input type="text" name="name" placeholder="<%= url.original %>" />
      <input type="submit" value="Update" />
      </form>

  </body>
</html>
