<!DOCTYPE html>
<html lang="en">
<head>
  <title> TinyApp </title>
</head>
<header> <%include ./partials/_header %> </header>
  <h2>The best URL shortner on the web!</h2>
  <body style="font-size:20px; padding:50px;">
    <div>
      <p>Add a new URL to your account:</p>
      <form action="/urls" method="POST" >
        <label for="longURL">Enter URL to be shortened</label><br>
        <input id="longURL" type="text" name="longURL" placeholder="www.example.com" style="width: 400px">
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
