<!DOCTYPE html>
<html lang="en">
  <head>
    <title> TinyApp </title>
  </head>
  <body>
    <h1>David's Amazing URL Shortener!</h1>
    <table>
      <tr>
        <td><strong>Original URL</strong></td>
        <td><strong>Shortned URL</strong></td>
      </tr>
    <% urls.forEach((url) => {%>
    <tr>
      <td> <%= url.original %> ==> </td>
      <td> <%= url.shorter %> </td>
      <td>
        <a href="/urls/<%= url.shorter%>">
          <button type="button">Edit</button>
        </a>
      </td>
      <td>
        <form action="/urls/<%= url.shorter%>/delete" method="POST">
        <input type="submit" value="Delete" />
        </form>
      </td>
    </tr>
    <% }) %>
  </table>

  </body>
</html>
