<!DOCTYPE html>
<html lang="en">
  <head>
    <title> TinyApp </title>
  </head>
  <body>

    <h1>David's Amazing Link Shortner!</h1>
    <table>
    <% urls.forEach((url) => {%>
    <tr>
      <td> <%= url.original %> --> </td>
      <td> <%= url.shorter %> </td>
      <td>
        <form action="/donuts" method="POST">
        <input type="submit" value="Delete" />
        </form>
      </td>
    </tr>
    <% }) %>
  </table>

  </body>
</html>
